body {
    font-family: sans-serif;
}

.w-referral {
    width: 333.75px;
    min-width: 333.75px;
    max-width: 333.75px;
}

@media only screen and (min-width: 600px) {
    #fork-btn {
        display: block;
    }
}